.section_list_li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 2px solid var(--secondary-color);
    border-radius: 10px;
    padding: 1rem;
    margin: 1rem;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.section_list_actions {
    display: flex;
    align-items: center;
}

.true {
    text-decoration: line-through;
    text-decoration-color: #bf211e;
}

p {
    color: var(--primary-color);
    font-size: 1.2rem;
}

.close {
    font-size: 1.3rem;
    color: #bf211e;
    margin: 0.5rem;
    cursor: pointer;
}

.check {
    font-size: 1.3rem;
    color: #2b9348;
    margin: 0.5rem;
    cursor: pointer;
}

@media only screen and (min-width: 500px) {
    li {
        padding: 1rem;
        margin: 1rem;
        font-size: 2rem;
    }

    p {
        font-size: 1.8rem;
    }

    .check,
    .close {
        font-size: 1.8rem;
    }
}
